<a href="https://colab.research.google.com/github/Ashikur-ai/Learn-Machine-Learning/blob/main/20_Pandas_DataFrame_Joining%2C_Merging%2C_and_Concatenation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(101)

In [38]:
df1 = pd.DataFrame({'A':['a', 'b', 'c'], 'B':['d', 'e', 'f'], 'C': ['g', 'h', 'i']})

In [39]:
df1

   A  B  C
0  a  d  g
1  b  e  h
2  c  f  i

In [50]:
df2 = pd.DataFrame({'A':['a2', 'b2', 'c2'], 'B':['d2', 'e2', 'f2'], 'C': ['g2', 'h2', 'i2']}, index=[3, 4, 5])

In [51]:
df2

    A   B   C
3  a2  d2  g2
4  b2  e2  h2
5  c2  f2  i2

#Concatenate in row

In [52]:
pd.concat([df1, df2])

    A   B   C
0   a   d   g
1   b   e   h
2   c   f   i
3  a2  d2  g2
4  b2  e2  h2
5  c2  f2  i2

In [53]:
pd.concat([df1, df2], axis=1)

     A    B    C    A    B    C
0    a    d    g  NaN  NaN  NaN
1    b    e    h  NaN  NaN  NaN
2    c    f    i  NaN  NaN  NaN
3  NaN  NaN  NaN   a2   d2   g2
4  NaN  NaN  NaN   b2   e2   h2
5  NaN  NaN  NaN   c2   f2   i2

#Merge

In [54]:
pd.merge(df1, df2, how='outer', on=['A', 'B'])

    A   B  C_x  C_y
0   a   d    g  NaN
1   b   e    h  NaN
2   c   f    i  NaN
3  a2  d2  NaN   g2
4  b2  e2  NaN   h2
5  c2  f2  NaN   i2

In [55]:
df3 = pd.DataFrame({'D':['a2', 'b2', 'c2'], 'E':['d2', 'e2', 'f2'], 'F': ['g2', 'h2', 'i2']}, index=[3, 4, 5])

In [56]:
df2.join(df3)

    A   B   C   D   E   F
3  a2  d2  g2  a2  d2  g2
4  b2  e2  h2  b2  e2  h2
5  c2  f2  i2  c2  f2  i2