<a href="https://colab.research.google.com/github/Ashikur-ai/Learn-Machine-Learning/blob/main/21_Operations_on_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B':[11, 22, 33, 4], 'C':['aaa', 'bbb', 'ccc', 'dd']})

In [6]:
df

   A   B    C
0  1  11  aaa
1  2  22  bbb
2  3  33  ccc
3  4   4   dd

#Unique Value

In [7]:
df['A'].unique()

array([1, 2, 3, 4])

In [8]:
df['C'].nunique()

4

#Conditional selection

In [9]:
df1 = df[(df['A']< 3) & (df['B']<30)]

In [10]:
df1

   A   B    C
0  1  11  aaa
1  2  22  bbb

#Length of column

In [11]:
df.apply(len)

A    4
B    4
C    4
dtype: int64

In [12]:
df.sum()

A             10
B             70
C    aaabbbcccdd
dtype: object

In [13]:
del df1['B']

In [14]:
df1

   A    C
0  1  aaa
1  2  bbb

#how to find column

In [15]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

#Sorting

In [16]:
df.sort_values(by='A')

   A   B    C
0  1  11  aaa
1  2  22  bbb
2  3  33  ccc
3  4   4   dd

In [17]:
df.sort_values(by='B')

   A   B    C
3  4   4   dd
0  1  11  aaa
1  2  22  bbb
2  3  33  ccc

In [18]:
df.isnull()

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False