<a href="https://colab.research.google.com/github/Ashikur-ai/Learn-Machine-Learning/blob/main/22_How_to_read_and_write_csv_and_excel_file_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B':[11, 22, 33, 4], 'C':['aaa', 'bbb', 'ccc', 'dd']})

In [6]:
df

   A   B    C
0  1  11  aaa
1  2  22  bbb
2  3  33  ccc
3  4   4   dd

#Convert to CSV file

In [19]:
df.to_csv('data')

In [20]:
df.to_csv('No_index', index=False)

In [22]:
df1 = pd.read_csv('data')

In [23]:
df1

   Unnamed: 0  A   B    C
0           0  1  11  aaa
1           1  2  22  bbb
2           2  3  33  ccc
3           3  4   4   dd

In [24]:
df2 = pd.read_csv('No_index')

In [25]:
df2

   A   B    C
0  1  11  aaa
1  2  22  bbb
2  3  33  ccc
3  4   4   dd

#Convert to excel file

In [26]:
df.to_excel('excel.xlsx')

In [27]:
df3 = pd.read_excel('excel.xlsx')

In [28]:
df3

   Unnamed: 0  A   B    C
0           0  1  11  aaa
1           1  2  22  bbb
2           2  3  33  ccc
3           3  4   4   dd