<a href="https://colab.research.google.com/github/Ashikur-ai/Learn-Machine-Learning/blob/main/python_variables_and_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This tutorial covers the following topics:
* Storing information using variables
* Primitive data types in Python: Integer, Float, Boolean, None and String
* Built-in data structures in Python: List, Tuple and Dictionary
* Methods and operatiors supported by built-in data types

#Storing information using variables
Computers are useful for two purposes: storing information (also known as data) and performing operations on stroed data. While working with a programming language such as Python, data is stored invariables. You can think of variables are containers for storing data. The data stored within a variable is called its value. Creating variables in Python is pretty easy.

In [21]:
my_favorite_color = "blue"

In [22]:
my_favorite_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable. Note that the assignment operator `=` is different from the equality comparison operator `==`.
You can also assign values to multiple variables in a single statement by separating the variable names and values with commas

In [23]:
color1, color2, color3 = "red", "green", "blue"

In [24]:
color1

'red'

In [25]:
color2

'green'

In [26]:
color3

'blue'

You can asign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [27]:
color4 = color5 = color6 = "magenta"

In [28]:
color4

'magenta'

In [29]:
color5

'magenta'

In [30]:
color6

'magenta'

You can change the value stored within a variable by assigning a new value ot it using another assignment statement. Be careful while reassigning varialbes: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [31]:
my_favorite_color = 'red'

In [32]:
my_favorite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [33]:
counter = 10

In [34]:
counter = counter + 1

In [35]:
counter

11

The pattern `var = var op something` ( where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a shorthand syntax for it.

In [36]:
counter = 10

In [37]:
#Same as counter = counter + 4
counter += 4

In [38]:
counter

14

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive (`my_favorite_color`, `profit_margin`, `the_3_musketeers`,etc.). However, you must follow these rules while naming Python variables:
* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores(`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE`  are all different variables.

Here are some valid variable names:

In [39]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.
> **Syntax:** The syntax of a programming language refers to the rules that govern the structure of a valid instruction or statement. If a statement does not follow these rules, PYthon stops execution and informs you that there is a syntax error. You can think of syntax as the rules of grammar for a programming language.

In [40]:
a variable = 23

SyntaxError: ignored

In [42]:
is_today_$aturday = False

SyntaxError: ignored

In [43]:
my-favorite-car = "Delorean"

SyntaxError: ignored

In [ ]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

#Built-in data types in Python
Any data or information stored within a Python variable has a type. You can view the type of data stored within a variable using `type` function.

In [41]:
a_variable

23

In [44]:
type(a_variable)

int

In [45]:
is_today_Saturday

False

In [46]:
type(is_today_Saturday)

bool

In [47]:
my_favorite_car

'Delorean'

In [ ]:
type(my_favorite_car)

In [ ]:
the_3_musketeers

In [ ]:
type(the_3_musketeers)

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:
1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are primitive data types because they represent a single value. Other data types like list, tuple, and dictionary are often called data structures or containers becausse they hold multiple pieces of data together.

#Integer
Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int` .

In [ ]:
current_year = 2020

In [ ]:
current_year

In [ ]:
type(current_year)

#Float
Float (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [ ]:
pi = 3.14346457457345634

In [ ]:
pi

In [ ]:
type(pi)

Note that a wholw number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.

In [ ]:
a_number = 3.0

In [ ]:
a_number

In [ ]:
type(a_number)

In [ ]:
another_number = 4.

In [ ]:
another_number

In [ ]:
type(another_number)

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [ ]:
one_hundredth = 1e-2

In [ ]:
one_hundredth

In [ ]:
type(one_hundredth)

In [ ]:
avogadro_number = 6.02214076e23

In [ ]:
avogadro_number

In [ ]:
type(avogadro_number)

In [ ]:
float(current_year)

In [ ]:
int(pi)

In [ ]:
int(avogadro_number)

While performing arithmetic operations, integers are automatically converted to `float`, even if both operands are integers. Use the `//` operatior if you want the result of the division to be an `int`.

In [48]:
type(45 * 3.0)

float

In [49]:
type(45*3)

int

In [50]:
type(10/3)

float

In [51]:
type(10/2)

float

In [52]:
type(10//2)

int

#Boolean 
Booleans represent one of 2 values: `True`and `False`. Booleans have the type `bool`.

In [53]:
is_today_Sunday = True

In [54]:
is_today_Sunday

True

In [55]:
type(is_today_Sunday)

bool

#Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [56]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [57]:
is_ice_bag_expensive

False

In [58]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int` when used in aritmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [59]:
5 + False

5

In [60]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function.
Only the following values evalate to `False`(they are often called falsy values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple`()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a truthy value).

In [61]:
bool(False)

False

In [62]:
bool(0)

False

In [63]:
bool(0.0)

False

In [64]:
bool(None)

False

In [65]:
bool("")

False

In [66]:
bool([])

False

In [67]:
bool(())

False

In [68]:
bool({})

False

In [69]:
bool(set())

False

In [70]:
bool(range(0))

False

In [71]:
bool(True), bool(1), bool(2.0), bool("Hello"), bool([1,2]), bool((2, 3)), bool(range(10))

(True, True, True, True, True, True, True)

#None 
The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [72]:
nothing = None

In [75]:
type(nothing)

NoneType

#String 
A string is used to represent text (a string of characters) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). String have the type `string`.

In [76]:
today = "Saturday"

In [77]:
today

'Saturday'

In [78]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [79]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [80]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [81]:
my_favorite_pun = 'Thanks for explaining the work "many" to me, it means a lot.'

In [82]:
my_favorite_pun

'Thanks for explaining the work "many" to me, it means a lot.'

In [83]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

To use a double quote within a string written with double quotes, escape the inner quotes by prefixing them with the `\` character.

In [84]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

String created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [85]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun.'''

In [86]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?"\nDad: "No sun.'

Multiline strings are best displayed using the `print` function

In [87]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun.

In [88]:
a_music_pun = """
Two windmills are standing in a field and one asks the other,
"What kind of music you like?"


The other says,
"I'm a big metal fan."
"""

In [89]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music you like?"


The other says,
"I'm a big metal fan."

You can check the length of a string using the `len`function

In [90]:
len(my_favorite_movie)

31

Note that special characters like `\n` and escaped charactes like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [91]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [92]:
len(multiline_string)

3

A string can be converted into a list of character using `list` function.

In [93]:
list(multiline_string)

['a', '\n', 'b']

Strings also support several list operations, which are dicussed in the next section. We'll look at a couple of examples here.
You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0`to `n-1`, where `n` is the length of the string.

In [94]:
today = "Saturday"

In [95]:
today[-1]

'y'

In [96]:
today[0]

'S'

In [97]:
today[7]

'y'

In [98]:
today[3]

'u'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [99]:
today

'Saturday'

In [100]:
today[5:8]

'day'

In [101]:
len(today)

8

In [102]:
today[2:5]

'tur'

You can also check whether a string contains a some text using the `in` operator.

In [103]:
'day' in today

True

In [104]:
'Sun' in today

False

Two or more strings can be joined or concatenated using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [105]:
full_name = "Derek O'Brien"

In [106]:
greeting = "Hello"

In [107]:
greeting + full_name

"HelloDerek O'Brien"

In [108]:
greeting + " "+full_name + "!" #additional space

"Hello Derek O'Brien!"

String in Python have many built-in methods that are used to mainpulate them. Let's try out some common string methods.

> **Methods:** Methods are functions associated with data types and are accessed using the `.` notation e.g. `variale_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [109]:
today

'Saturday'

In [110]:
today.lower()

'saturday'

In [111]:
today.lower()

'saturday'

In [112]:
today.upper()

'SATURDAY'

In [113]:
"monday".capitalize() #changes first character to uppercase

'Monday'

The `.replace` method replaces a part of the string with another string. It takes the portion to be replaced and the replacement text as inputs or arguments.

In [114]:
another_day = today.replace("Satur", "Wednes")

In [115]:
another_day

'Wednesday'

Note that `replace` returns a new string, and the original string is not modified.

In [116]:
today = "Saturday"

In [117]:
today.lower()

'saturday'

The `.split` method splits a string into a list of string at every occurrence of provided character.

In [118]:
today

'Saturday'

In [119]:
"Sun, Mon, Tue, Wed, Thu, Fri, Sat".split(",")

['Sun', ' Mon', ' Tue', ' Wed', ' Thu', ' Fri', ' Sat']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [120]:
a_long_line = "        This is a long line with some space before, after,      and some space in the middle..     "

In [121]:
a_long_line_stripped = a_long_line.strip()

In [122]:
a_long_line_stripped

'This is a long line with some space before, after,      and some space in the middle..'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [124]:
#Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

#Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {}%,
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {}%,
then the total profit it makes by selling {} ice bags is $ {}.

In [126]:
#inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0%,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to string using the `str` function.

In [127]:
"If a grocery store sells ice bags at $ "+cost_of_ice_bag+", with a profit margin of " + profit_margin

TypeError: ignored

In [128]:
"If a grocery store sells ice bags at $ "+str(cost_of_ice_bag)+", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

You can `str` to convert a value of any data type into a string.

In [129]:
str(23)

'23'

In [130]:
str(23.432)

'23.432'

In [131]:
str(True)

'True'

In [132]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

Note that  all string methods return new values and Do Not change the existing string.

In [133]:
first_name = "Jhon"

In [134]:
first_name == "De0"

False

In [135]:
first_name = "Jhon"

In [136]:
first_name != "Jane"

True